.newsletter {
  display: flex;
  padding: 100px 0px;

  form {
    width: 75.5%;
    margin: auto;
    display: flex;
    @media (max-width: $breakpoint-md) {
      flex-wrap: wrap;
    }
  }
  &__input {
    display: flex;
    width: 100%;

    padding: 15px 15px;
    padding-left: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    &:focus {
      outline: 1px solid $accent;
    }

    @media (max-width: $breakpoint-md) {
      margin-right: 0;
      flex: 0 1 100%;
    }
  }

  &__btn {
    display: flex;
    width: 268px;
    font-size: 16px;
    border: 1px solid $accent;
    background-color: $accent;
    cursor: pointer;

    @media (max-width: $breakpoint-lg) {
      width: 210px;
    }
    @media (max-width: $breakpoint-md) {
      flex: 0 1 100%;
      margin-top: 10px;
      height: 45px;
    }
  }
}

.form-label {
  flex-grow: 1;
  margin-right: 30px;
  @media (max-width: $breakpoint-md) {
      margin-right: 0;
    }
}
