// Container & Breakpoints

$containerWidth: 1140;
$containerPadding: 30;
$containerSidePadding: 15;

$breakpoint-xs: 479.98px;
$breakpoint-sm: 575.98px;
$breakpoint-md: 767.98px;
$breakpoint-lg: 991.98px;
$breakpoint-xl: 1199.98px;

// Colors
$primary: #3b434c;
$secondary: #6e757b;
$secondary-light: #c4c6c9;
$accent: #f7600e;
$white: #ffffff;